*{
    margin: 0;
    padding: 0;
}
.custom-toolbar {
    background-color: #9fafca;
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
}


.custom-toolbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.custom-toolbar a:hover, .custom-toolbar a:active {
    color: lightgray;
}

.custom-toolbar .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-toolbar .navigation-items li {
    margin-right: 65px;
}

@media (max-width: 959px) {
    .custom-toolbar {
        border-radius: 0;
    }
}


/* fxFlex fxLayout fxLayoutAlign="end" fxHide.xs  */
/* fxLayout fxLayoutGap="15px"  */

.logoutbtn{
    margin-left: 25px;
}