<div>
    <div><button (click)="toggleShow()">Get Products</button></div>
    <div><button (click)="generateForm()">Add Products</button></div>
</div><br>
<div>
    <div><button (click)="getTheOrders()">Get Orders</button></div>
    <!-- <div><button (click)="generateForm()">Add Products</button></div> -->
</div>


<div *ngIf="showorders">
    <div class="order-det" *ngFor="let ord of ordersmade">
        <div>
            <p>{{ord.ORDERID}}</p>
        </div>
        <div>
            <p>{{ord.PNAME}}</p>
        </div>
        <div>
            <p>{{ord.PRICE}}</p>
        </div>
        <div>
            <p>{{ord.PCOUNT}}</p>
        </div>
        <div>
            <p>{{ord.ORDERSTATUS}}</p>
        </div>
        <div>
            <p>{{ord.UEMAIL}}</p>
        </div>
        <div>{{ord.ORDERDATE}}</div>
        <div>
            <button>Update Order</button>
            <button>Delete Order</button>
        </div>
    </div>
</div>

  


<div *ngIf="secondDiv">
    <div>
        <form (ngSubmit)="onformsubmit()" [formGroup]="addform">
            <h2>Add Product Details</h2>
            <div class="form-control">
                <label for="name">Product Name: </label>
                <input type="text" placeholder="Sweet blankets" formControlName="pname">
            </div>
            <div class="form-control">
                <label for="category">Product Category: </label>
                <select name="" id="" formControlName="pcategory">
                    <option value="" *ngFor="let pro of products">{{pro.PCATEGORY}}</option>
                </select>
            </div>
            <div class="form-control">
                <label for="description">Product description</label>
                <textarea name="" id="" cols="3" rows="5" placeholder="enter product description" formControlName="pdescription"></textarea>
            </div>
            <div class="form-control">
                <label for="image">Product Image</label>
                <input type="text" placeholder="https://pixabay.com" formControlName="pimage">
            </div>
            <div class="form-control">
                <label for="price">Product Price</label>
                <input type="number" placeholder="348534543" formControlName="price">
            </div>
            <div class="form-control">
                <label for="quantity">Product Quantity</label>
                <input type="number" placeholder="Enter product quantity" formControlName="pquantity">
            </div>
          <div>
            <button type="submit">Add Product</button>
          </div>
            
        </form>
    </div>
</div>


    <div  class="mainbd" *ngIf="firstDiv && products!.length">
        <input type="text" placeholder="search product by name" [(ngModel)]="searchString"><br>
        <input type="text" name="" id="" placeholder="search product by category" [(ngModel)]="catString">
        <div class="grid-its" *ngFor="let prod of products | filtering:searchString | category:catString " >
            <div>
                <h2>Product: {{prod.PNAME}}</h2>
            </div>
            <div>
                <h2>Category: {{prod.PCATEGORY}}</h2>
            </div>
            <div>
                <h2>Description: {{prod.PDESCRIPTION}}</h2>
            </div>
            <div>
                <h2>Image: {{prod.PIMAGE}}</h2>
            </div>
            <div>
                <h2>Price: {{prod.PRICE}}</h2>
            </div>
            <div>
                <h2>Quantity: {{prod.PQUANTITY}}</h2>
            </div>
            <div>
                <span (click)="updateProduct(prod.PID)" [ngStyle]="{'cursor':'pointer','color':'blue', 'padding':'10px'}">Update Product</span>
                <span (click)="deleteProduct(prod.PID)" [ngStyle]="{'cursor':'pointer','color':'brown', 'padding':'10px'}">Delete Product</span>
            </div>
        </div>
    </div>


<div *ngIf="updatingproducts">
    <div>
        <form (ngSubmit)="onSubmitupdate()" [formGroup]="updateform">
            <h2>Update Product Details</h2>
            <div class="form-control">
                <label for="name">Product Name: </label>
                <input type="text" formControlName="pname">
            </div>
            <div class="form-control">
                <label for="category">Product Category: </label>
                <select name="" id="" formControlName="pcategory">
                    <option value="" *ngFor="let pro of products">{{pro.PCATEGORY}}</option>
                </select>
            </div>
            <div class="form-control">
                <label for="description">Product description</label>
                <textarea name="" id="" cols="3" rows="5" formControlName="pdescription"></textarea>
            </div>
            <div class="form-control">
                <label for="image">Product Image</label>
                <input type="text" formControlName="pimage">
            </div>
            <div class="form-control">
                <label for="price">Product Price</label>
                <input type="number" formControlName="price">
            </div>
            <div class="form-control">
                <label for="quantity">Product Quantity</label>
                <input type="number" formControlName="pquantity">
            </div>
          <div>
            <button type="submit">Update Product</button>
          </div>
            
        </form>
    </div>
</div>