.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.content {
  margin-top: 20px;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  animation: floatingAnimation 2s infinite ease-in-out; 
}

.navbar-items li {
  display: inline-block;
  padding: 5px 30px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); 
}

.navbar-items li:hover {
  background-color: #e2e2e2;
  transform: scale(1.1);
}

.image-container {
  display: flex;
  gap: 20px;
}

@keyframes floatingAnimation {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
