<div class="container">
    <div class="inputs">
        <div class="headers">
            <h1>Create new Account</h1>
            <h5 class="shake">ALREADY REGISTERED? &nbsp; <a [routerLink]="['/login']" [ngStyle]="{'cursor':'pointer'}">CLICK HERE TO LOGIN</a></h5>
        </div>
        <div  class="registrationerrormessage" *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        
            <div class="formDetails">
                <form (ngSubmit)="onSubmit()" [formGroup]="form" id="signup-form">

                    <div id="formdiv1" >
                        <input type="text" id="username" name="userName" placeholder="USERNAME" formControlName="username">
                        <p class="error" *ngIf="!form.get('username')?.valid && form.get ('username')?.touched">Username is required*</p>
                        <input type="text" id="fullname" name="fullName" placeholder="FULLNAME" formControlName="fullname">
                        <p class="error" *ngIf="!form.get('fullname')?.valid && form.get ('fullname')?.touched">fullname is required*</p>
                        <input type="email" id="email" name="email" placeholder="EMAIL" formControlName="email">
                        <p class="error" *ngIf="!form.get('email')?.valid && form.get ('email')?.touched">Email is required*</p>
                        <input type="tel" id="phone" name="phone" placeholder="PHONE NUMBER" formControlName="phonenumber">
                        <p class="error" *ngIf="!form.get('phonenumber')?.valid && form.get('phonenumber')?.touched">PhoneNumber is required*</p>
                    </div>
                    <div id="formdiv2">
                        <input type="password" id="password" name="password" placeholder="PASSWORD" formControlName="upassword">
                        <p class="error" *ngIf="!form.get('password')?.valid && form.get('password')?.touched">Password is required*</p>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            placeholder="CONFIRM PASSWORD" formControlName="confirmpassword" >
                            <p class="error" *ngIf="!form.get('confirmpassword')?.valid && form.get('confirmpassword')?.touched">Password confirmation is required*</p>
                    </div>
                    <div id="formdiv3">
                        <button type="submit" class="signup">SIGN UP</button>
                    </div>
                </form>
            </div>        
    </div>
</div>
