
<!-- <div *ngFor="let item of items">
    <span>{{item.pname}}</span>
    <span>{{item.price | currency}}</span>
    <span>{{item.pquantity}}</span>
</div> -->
<div id="modal">
    <div id="modal-content">
        <h3>Shopping Cart</h3>
        <ul>
            <li *ngFor="let item of items; let i=index">
                <span>Product: {{item.productName}}</span> - <span>Price: {{item.price}}</span>               
                - Quantity:<input type="number" [(ngModel)]="item.count" (input)="updateItemCount(i)" placeholder="1" width="5">
                <button (click)="removeItem(i)" style="margin-left: 20px;color: rgb(237, 121, 100);">Remove</button>
            </li>
        </ul>
        <p>Total Price: {{calculateCartTotal()}}</p>
        <div>
            <button (click)="closeModalCart()" style="color:blue">Cancel</button>
            <button (click)="gotoCheckout()" style="color: pink; margin-left: 20px;">Proceed to checkout</button>
        </div>

    </div>
</div>