
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav (sidenavclose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <div class ="container">
            <div class = "links">
                
                   </div>          
            </div>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
<a href ="#" *ngIf="authService.isloggedIn()">{{authService.getuserName()}}</a>
<a routerlink="login" *ngIf="!authService.isloggedIn()" >Login</a>
<a *ngIf="authService.isloggedIn()" (click)="authService.logout()"> logout</a>
<!-- <app-carousel>    
</app-carousel> -->