
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav (sidenavclose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <div class ="container">
            <div class = "links">                  
                <li><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a></li>
                <li><a (click)="openCartModal()">CART</a></li>
            </div>           
        </div>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>

