.displayed-products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 900px;
  height: 500px;
}

.product-image {
  width: 40%;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.product-details {
  flex-grow: 1;
}

.product-name {
  font-size: 18px;
  margin: 0;
}

.product-description {
  margin: 5px 0;
}

.product-price {
  font-weight: bold;
}

.add-to-cart-button {
  background-color: #1EBAD6;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}
