.displayedproducts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 7px rgba(0, 0, 2, 0.1);
    padding: 20px;
    text-align: left;
  }
  
  .product p {
    margin: 0;
  }
  
  .product img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .product button {
    background-color: #1EBAD6;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 20%;
  }
  
  .product button:hover {
    background-color: #1EBAD6;
  }
  .price{
    margin-bottom: 5px;
  }

  .btn1{
    background-color: #1EBAD6;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    width: 20%;
    margin-left: 20px;
  }
  .btn1:hover{
    background-color: #1EBAD6
  }


  @media only screen and (min-width: 500px) and (max-width: 700px) {
    .displayedproducts {
      margin-top: 7.5rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);  
      grid-gap: 20px;
      width:80vw;
      margin-left: -10%;
    }
  }

