<div class="displayedproducts" *ngIf="products.length;else noProducts">
    <div class="product" *ngFor="let product of categoricalproducts ">
     <div [routerLink]="['/category','product',product.PID]">
      
      <p> {{ product.PNAME}}</p>
      <p>PRICE: {{ product.PDESCRIPTION }}</p>
      <img src="{{ product.PIMAGE }}" alt="">
      <p>PRICE: {{ product.PRICE }}</p>
      <p>PRICE: {{ product.PCATEGORY }}</p>
      <div>

        <button (click)="showOne(product.PID)">VIEW MORE</button>
        <button (click)="addstocart(product.PID)">Add to Cart</button>

      </div>
     </div>     
    </div>
  </div>
  
<ng-template #noProducts>
  <p>No products available.</p>
</ng-template>