.container {
    height: 110vh;
    /* width: 100vw; */
    justify-content: center;
    background-color: #74D5E6;
    display: grid;
    place-items: center;
}

.fogt-container {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 10%;
    position: relative;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.2);
}

.headings {
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.form-control {
    padding: 10px;
}

.form-control input[type="email"] {
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid;
}

.form-control button[type="submit"] {
    background-color: #1ebad6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.form-control input:hover {
    border-color: #1ebad6;
    border: 1px solid #1ebad6;
}

.error {
    color: red;
}

.form-control button:hover {
    background-color: black;
    transform: scale(1.1);
}

.headings p {
    color: black;
}
