.fogt-container{
    width: 40vw;
    height: 55vh;
    margin: auto;
    margin-top: 10%;
    position: relative;
    background-color: rgb(255 239 189 / 31%);
    opacity: 0.6;
    outline: solid 2px rgb(167, 106, 167);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.headings{    
    margin-bottom: 30px;
}
.form-control {
    padding: 10px;
}