<div class ="container">
    <div class="fogt-container">
        <div class="headings">
            <p>Enter your email to send new password</p>
            <p><i>Check email for new password, once you click submit </i></p>
        </div>
        <div>
            <form (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="form-control">
                    <input type="email" placeholder="resetpassword@ecommercesuite.com" formControlName="email">
                </div>
                <div class="form-control">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </div>