<div class="fogt-container">
    <div class="headings">
        <p>Enter your email to send new password</p>
        <p>Check email for new password</p>
    </div>
    <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="form-control">
                <input type="email" placeholder="resetpassword@ecommercesuite.com" formControlName="email">
            </div>
            <div class="form-control">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>testing my branch</div>
</div>